---
Checks:
  - -*
  - bugprone-*
  - clang-analyzer-*
  - misc-*
  - mpi-*
  - openmp-*
  - performance-*
  - portability-*
  - readability-*
  - -bugprone-easily-swappable-parameters
  - -clang-analyzer-security.insecureAPI.*
  - -misc-include-cleaner
  - -portability-avoid-pragma-once
  - -readability-magic-numbers
...
