---
Checks:
  - -*
  - clang-analyzer-*
  - -clang-analyzer-security.insecureAPI.*
  - -clang-analyzer-deadcode.DeadStores
  - -clang-analyzer-valist.Uninitialized
  - misc-*
  - -misc-include-cleaner
  - -misc-no-recursion
  - -misc-misplaced-const
  - -misc-unused-parameters
  - modernize-*
  - -modernize-macro-to-enum
  - mpi-*
  - performance-*
  - portability-*
  - readability-*
  - -readability-braces-around-statements
  - -readability-identifier-length
  - -readability-named-parameter
  - -readability-magic-numbers
  - -readability-isolate-declaration
  - -readability-implicit-bool-conversion
  - -readability-function-cognitive-complexity
HeaderFileExtensions:
  - h
ImplementationFileExtensions:
  - c
HeaderFilterRegex: .h
FormatStyle: file
SystemHeaders: false
...

