---
Checks:
  - -*
  - bugprone-*
  - clang-analyzer-*
  - misc-*
  - modernize-*
  - mpi-*
  - openmp-*
  - performance-*
  - portability-*
  - readability-*
  - -bugprone-assignment-in-if-condition
  - -bugprone-easily-swappable-parameters
  - -bugprone-multi-level-implicit-pointer-conversion
  - -bugprone-narrowing-conversions
  - -clang-analyzer-security.insecureAPI.*
  - -misc-include-cleaner
  - -misc-no-recursion
  - -modernize-use-nullptr
  - -portability-avoid-pragma-once
  - -readability-avoid-nested-conditional-operator
  - -readability-function-cognitive-complexity
CheckOptions:
  readability-magic-numbers.IgnoredIntegerValues: '1;2;3;4;5;6;7;8;9;10'
  readability-magic-numbers.IgnorePowersOf2IntegerValues: 'true'
...
