---
InheritParentConfig: true
Checks:
  - -bugprone-reserved-identifier
  - -misc-unused-parameters
  - -readability-identifier-length
  - -readability-isolate-declaration
  - -readability-magic-numbers
...
